.order-container {
    padding: 20px;
  }
  
  .order-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .order-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-container li {
    padding: 10px;
    border: 3px solid #0c0101;
    margin-bottom: 5px;
  }
  